body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border: solid;
    border-width: 1px 0px 1px 0px;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.home {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 200px;
}

.home h1 {
    font-size: 86px;
}

.home h6 {
    font-size: 20px;
}

button {
    border: solid;
    color: black;
    background-color: white;
    font-size: 20px;
    padding: 10px;
}

button:hover {
    color: white;
    background-color: black;
}

.reviews {
    text-align: center;
}

.reviews-grid {
    display: grid;
    margin-left: 100px;
    margin-right: 100px;
    grid-template-columns: auto auto;
    gap: 26px;
    justify-content: center;
}

.reviews-grid .container {
    border: solid;
    border-width: 1px;
    padding: 10px;
    max-width: 450px;
}